@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<br />
<div class="card-body">
    <div class="table-responsive">
        @*<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">*@
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Seri No</th>
                    <th>Sıra No</th>
                    <th>Vergi Dairesi</th>
                    <th>Tarih</th>
                    <th>Saat</th>
                    <th>Teslim Eden</th>
                    <th>Teslim Alan</th>
                    <th>Toplam</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Seri No</th>
                    <th>Sıra No</th>
                    <th>Vergi Dairesi</th>
                    <th>Tarih</th>
                    <th>Saat</th>
                    <th>Teslim Eden</th>
                    <th>Teslim Alan</th>
                    <th>Toplam</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;

                    <tr>
                        <td>@count</td>
                        <td>@item.FaturaSeriNo</td>
                        <td>@item.FaturaSıraNo</td>
                        <td>@item.VergiDairesi</td>
                        <td>@(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</td>
                        <td>@item.Saat</td>
                        <td>@item.TeslimEden</td>
                        <td>@item.TeslimAlan</td>
                        <td>@item.Toplam</td>
                        <td><a href="/Fatura/FaturaGetir/@item.FaturaID" class="btn btn-outline-warning">Güncelle</a></td>
                        <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-outline-info">Detayı Gör</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/Fatura/FaturaEkle/" class="btn btn-primary">Yeni Fatura Girişi</a>
    </div>
</div>


