@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<br />
<h2>Yeni Kalem Girişi</h2>

<div class="card-body">
    <div class="form-responsive">
        <form class="form-group" method="post">
            @Html.LabelFor(x => x.Aciklama)
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", placeholder = "Açıklama Girin" })
            <br />
            @Html.LabelFor(x => x.Miktar)
            @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control", placeholder = "Miktar Girin" })
            <br />
            @Html.LabelFor(x => x.BirimFiyat)
            @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control", placeholder = "Birim Fiyat Girin" })
            <br />
            @Html.LabelFor(x => x.Tutar)
            @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control", placeholder = "Tutar Girin" })
            <br />
            @Html.LabelFor(x => x.Faturalar.FaturaID)
            @Html.TextBoxFor(x => x.FaturaID, new { @class = "form-control", placeholder = "Fatura ID Girin" })
            <br />
            <button class="btn btn-info">Kaydet</button>
        </form>
    </div>
</div>


