@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<br />

<h2>Satış Detayı</h2>

<br />

<div class="card-body">
    <div class="table-responsive">
        @*<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">*@
        <table class="table table-condensed" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ürün</th>
                    <th>Cari</th>
                    <th>Personel</th>
                    <th>Fiyat</th>
                    <th>Adet</th>
                    <th>Toplam</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Ürün</th>
                    <th>Cari</th>
                    <th>Personel</th>
                    <th>Fiyat</th>
                    <th>Adet</th>
                    <th>Toplam</th>
                    <th>Tarih</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;

                    <tr>
                        <td>@count</td>
                        <td>@item.Urun.UrunAd</td>
                        <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
                        <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
                        <td>@item.Fiyat</td>
                        <td>@item.Adet</td>
                        <td>@item.ToplamTutar</td>
                        <td>@(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</td>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn btn-primary">Yazdır</button>
    </div>
</div>

