@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}
<br />

@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("query")
        <input type="submit" value="Ara"/>
    </p>
}

<br />
<div class="card-body">
    <div class="table-responsive">
        @*<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">*@
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Marka</th>
                    <th>Stok</th>
                    <th>Alış Fiyatı</th>
                    <th>Satış Fiyatuı</th>
                    <th>Kategori</th>
                    <th>Durum</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Satış Yap</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Ürün</th>
                    <th>Marka</th>
                    <th>Stok</th>
                    <th>Alış Fiyatı</th>
                    <th>Satış Fiyatuı</th>
                    <th>Kategori</th>
                    <th>Durum</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Satış Yap</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;

                    <tr>
                        <td>@item.UrunAd</td>
                        <td>@item.Marka</td>
                        <td>@item.Stok</td>
                        <td>@item.AlisFiyat ₺</td>
                        <td>@item.SatisFiyat ₺</td>
                        <td>@item.Kategori.KategoriAd</td>
                        <td>@item.Durum</td>
                        <td><a href="/Urun/UrunSil/@item.UrunID" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Urun/UrunGetir/@item.UrunID" class="btn btn-outline-success">Güncelle</a></td>
                        <td><a href="/Urun/SatisYap/@item.UrunID" class="btn btn-outline-Default" style="border-color:#0094ff; color:#0094ff">Satış Yap</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/Urun/UrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
     new PagedListRenderOptions
     {
         LinkToFirstPageFormat = "<<İlk",
         LinkToLastPageFormat = "Son>>",
         LinkToNextPageFormat = "sonraki>",
         LinkToPreviousPageFormat = "<önceki",
         ContainerDivClasses = new[] { "navigation" },
         LiElementClasses = new[] { "page-item page-link" }
     })
    </div>
</div>


